@import './components/home';
@import './components/hooks';

body {
  margin: 0;
}
.jay-react {
  background: #eff0f1;
  height: 100vh;
  font-family: arial;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-header {
    min-height: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 10px;
  }

  .main-body {
    display: flex;
    flex: 1;

    .menu-sidebar {
      min-width: 150px;
      padding: 10px;
    }
  }
}

//Replace this in with the XXV-content for new templates.
//  .<title>-content {
//    display: flex;
//    width: 100%;
//    flex-direction: column;
//    align-items: center;
//  }
