@import './components/home';

body {
  margin: 0;
}
.jay-react {
  height: 100vh;
  font-family: arial;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .top-header {
    border: 1px solid #000;
    height: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .main-body {
    display: flex;
    flex: 1;

    .menu-sidebar {
      width: 200px;
      border: 1px solid #000;
    }
  }

  .app-title {
    display: flex;
    align-items: center;

    .toggle-help {
      margin-left: 15px;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-content,
  .bottom-content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
